{% extends 'feed_base.html' %} {% load static %} {% load humanize %} {% comments
%} {% block content %}
<title>Feed | notLinkedin</title>
<div class="main">
    <section class="profile-card">
        <div class="card">
            <img
                class="bg-image"
                src="{% static 'images/card-bg.svg' %}"
                alt=""
                width="100%"
            />
            <img
                class="user-image"
                src="{{ user.photo_url }}"
                alt=""
                width="25%"
            />
            <span class="user-name">
                <!-- <a href="{% url 'home' %}">User Name</a>
                <p>Short bio / Headline</p> -->
                <a href="{% url 'home' %}">{{ user.name }}</a>
                <p>{{ user.bio }}</p>
            </span>
        </div>
    </section>
    <section class="posts">
        {% if posts %} {% for post in posts %}
        <div class="Post-card">
            <div class="Post-card-header">
                <img
                    src="{% static 'images/user.svg' %}"
                    class="Post-card-user-image"
                />
                <a class="Post-card-user-name" href="">{{ request.user }}</a>
                <div class="Post-card-time">
                    {{ post.post_date | naturaltime }}
                </div>
            </div>

            <hr />

            <div class="Post-card-image">
                <img src="{{ post.photo_url }}" width="100%" alt="" />
            </div>

            <div class="Post-card-content">
                <p class="Likes">
                    <span id="{{ post.pk }}-count">
                        {{ post.like.count | intword }}
                    </span>
                    likes
                </p>
                <p>
                    <a class="Post-card-content-user" href="">{{post.user}}</a>
                    {{post.description}}
                </p>

                <hr />
            </div>

            <div class="Post-card-footer">
                <div>
                    {% if request.user in post.like.all %}
                    <a
                        type="button"
                        id="{{ post.pk }}"
                        data-url="{% url 'like' %}"
                        class="
                            footer-action-icons
                            like
                            fa fa-heart fa-2x
                            float-right
                            likebtn
                        "
                        style="
                            font-size: 1.5rem;
                            text-decoration: none;
                            color: red;
                        "
                        name="{{ post.title }}"
                    ></a>
                    {% else %}
                    <a
                        type="button"
                        id="{{ post.pk }}"
                        data-url="{% url 'like' %}"
                        class="
                            footer-action-icons
                            like
                            fa fa-heart fa-2x
                            float-right
                            likebtn
                        "
                        style="
                            font-size: 1.5rem;
                            text-decoration: none;
                            color: gray;
                        "
                        name="{{ post.title }}"
                    ></a>
                    {% endif %}
                </div>
                <!-- <input
                                class="comments-input"
                                type="text"
                                placeholder="Añade un comentario..."
                            />
                            <a class="footer-action-icons" href="#"
                                ><i class="fa fa-ellipsis-h"></i
                            ></a> -->
            </div>
        </div>
        {% endfor %} {% else %}
        <h1>No posts Available</h1>
        {% endif %}
    </section>
</div>
<script>
    $(document).ready(function () {
        $(".like").on("click", function (e) {
            e.preventDefault();
            e.target.style.color = "red";
        });
    });
</script>
{% endblock %}
