{% extends 'feed_base.html' %} {% load static %} {% load humanize %} {% comments
%} {% block content %}
<div class="main">
    <section class="profile-card">
        <div class="card">
            <img
                class="bg-image"
                src="{% static 'images/card-bg.svg' %}"
                alt=""
                width="100%"
            />
            <img
                class="user-image"
                src="{% static 'images/user.svg' %}"
                alt=""
                width="25%"
            />
            <span class="user-name">
                <a href="{% url 'home' %}">User Name</a>
                <p>Short bio / Headline</p>
            </span>
        </div>
    </section>
    <section class="posts">
        {% if posts %} {% for post in posts %}
        <div class="Post-card">
            <div class="Post-card-header">
                <img
                    src="{% static 'images/user.svg' %}"
                    class="Post-card-user-image"
                />
                <a class="Post-card-user-name" href="">{{ post.user }}</a>
                <div class="Post-card-time">
                    {{ post.post_date | naturaltime }}
                </div>
            </div>

            <hr />

            <div class="Post-card-image">
                <img src="{{ post.photo_url }}" width="100%" alt="" />
            </div>

            <div class="Post-card-content">
                <p class="Likes">{{ post.likes | intword }} likes</p>
                <p>
                    <a class="Post-card-content-user" href="">{{post.user}}</a>
                    {{post.description}}
                    <!-- I GOT TO PLAY NINTENDO SWITCH ON #NINTENDO MINUTE! 😱 So happy that I can finally talk about this! @kitellis and @breath0air told me that we were going to be playing <a class="hashtag" href="https://www.instagram.com/explore/tags/poochy/">#Poochy</a> and <a class="hashtag" href="https://www.instagram.com/explore/tags/yoshi/">#Yoshi</a> but ended up surprising me with a private <a class="hashtag" href="https://www.instagram.com/explore/tags/nintendoswitch/">#NintendoSwitch</a> play session. I had the opportunity to play The Legend of <a class="hashtag" href="https://www.instagram.com/explore/tags/zelda/">#Zelda</a> <a class="hashtag" href="https://www.instagram.com/explore/tags/breathofthewild/">#BreathOfTheWild</a> and <a class="hashtag" href="https://www.instagram.com/explore/tags/12switch/">#12Switch</a>, both of which were a ton of fun! Massive thank you to the team at @Nintendo for having me on! I had an absolute blast! 🎉 -->
                </p>
                <!-- <p class="comments">Ver los 12 comentarios</p>
                            <br><a class="user-comment" href="https://www.instagram.com/chrisobrien64/">chrisobrien64</a> NO WAY! WAY TO GO ROGER MY BOI</br>
                            <br><a class="user-comment" href="https://www.instagram.com/artie_mcparty/">artie_mcparty</a> ROGER = BEST NINTENDO FAN.</br>
                            <br><a class="user-comment" href="https://www.instagram.com/theealeexj/">theealeexj</a> I JUST TRIED IT OUT TODAY ITS AMAZING</br> -->
                <hr />
            </div>

            <div class="Post-card-footer">
                <a class="footer-action-icons like" href="">
                    <i class="fa fa-heart-o fa-2x"></i>
                </a>
                <!-- <input
                                class="comments-input"
                                type="text"
                                placeholder="Añade un comentario..."
                            />
                            <a class="footer-action-icons" href="#"
                                ><i class="fa fa-ellipsis-h"></i
                            ></a> -->
            </div>
        </div>
        {% endfor %} {% else %}
        <h1>No posts Available</h1>
        {% endif %}
    </section>
</div>
<script>
    $(document).ready(function () {
        $(".like").on("click", function (e) {
            e.preventDefault();
            e.target.style.color = "red";
        });
    });
</script>
{% endblock %}
