{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/feed.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700"
            rel="stylesheet"
        />
        <title>notLinkedIn</title>
    </head>
    <body>
        <!-- navbar -->
        <div class="nav-bar">
            <nav>
                <ul class="home-search">
                    <li>
                        <a href="{% url 'feed' %}"
                            ><img
                                src="{% static 'images/home-logo.svg' %}"
                                alt="Home"
                        /></a>
                    </li>
                    <li>
                        <div class="search-container">
                            <input
                                type="text"
                                class="search-box"
                                placeholder="Search"
                            />
                            <img
                                class="search-icon"
                                src="{% static 'images/search-icon.svg' %}"
                                alt=""
                            />
                        </div>
                    </li>
                </ul>
                <ul class="user-nav">
                    <li>
                        <a href="{% url 'feed' %}">
                            <img
                                class="feed"
                                src="{% static 'images/nav-home.svg' %}"
                                alt=""
                            />
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'network' %}">
                            <img
                                class="network"
                                src="{% static 'images/nav-network.svg' %}"
                                alt=""
                            />
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'jobs' %}">
                            <img
                                class="jobs"
                                src="{% static 'images/nav-jobs.svg' %}"
                                alt=""
                        /></a>
                    </li>
                    <li>
                        <a href="{% url 'message' %}">
                            <img
                                class="message"
                                src="{% static 'images/nav-messaging.svg' %}"
                                alt=""
                            />
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'notification' %}">
                            <img
                                class="notification"
                                src="{% static 'images/nav-notifications.svg'%}"
                                alt=""
                            />
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'home' %}">
                            <img
                                class="user-img home"
                                src="{% static 'images/user.svg' %}"
                                alt=""
                            />
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        {% block content %} {% endblock %}
        <script src="{% static 'js/feed_base.js' %}"></script>
    </body>
</html>
